.container-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container-contained {
    display: flex;
    width: 600px;
    height: 400px;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.272);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}


.landing-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.signup-container,
.login-container {
    width: 50%;
    height: 100%;
}

.signup-form,
.login-form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-logo {
    position: relative;
    margin: 0%;
    padding: 0%;
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
}

.signup-form h1,
.login-form h1 {
    margin-top: 0;
    padding-top: 0;
}

.divider {
    height: 80%;
    width: 1px;
    background-color: darkgray;
}

.signup-form div input,
.login-form div input {
    margin-bottom: 15px;
}

.submit-and-demo-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.submit-and-demo-btn button {
    margin-bottom: 10px;
}

.signup-form button,
.login-form button {
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    background-color: #B92B27;
    color: white;
    cursor: pointer;
}

#demo-btn {
    width: 80px;
}

.github-linkedin-links {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-decoration: none;
    font-size: 15px;
}

.github-linkedin-links a{
    text-decoration: none;
    color: black;
}
.github-linkedin-links i{
    margin-right: 10px;
}

.github-linkedin-links a:hover{
    text-decoration: underline;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}